__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.env.example
.gitignore
.git
.pre-commit-config
README.md

.vscode/
.github/
.idea/
.ruff_cache/
.pytest_cache/

alembic/
alembic.ini

tests/
migrations/
docs/
scripts/
logs/
cov-report/

venv/
.venv/
lcov.info
